@import './animations.css';

* {
  box-sizing: border-box;
  user-select: none;
  overflow-wrap: break-word;
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar-thumb
{
	background-color: #99a8ff;	
	background-image: -webkit-linear-gradient(45deg,
	                    rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

ul {
  list-style: none;
} 

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Lato, sans-serif;
  background: rgb(149, 183, 255);
  background: linear-gradient(90deg, rgb(247, 232, 255) 0%, rgb(176, 217, 255) 35%, rgba(83,207,224,1) 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  -webkit-font-smoothing: antialiased;
}

#app {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
}

@media (max-width: 3000px) {
  #app {
    grid-template-columns: 10fr;
  }

  body {
    height: 100%;
  }

}